<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- ====================== Hotel Front Desk ======================= -->
	<bean id="loginAction" class="com.oceanluxury.frontdesk.action.LoginAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="orderSearchAction" class="com.oceanluxury.frontdesk.action.OrderSearchAction">
		<property name="reservationService" ref="reservationService"></property>
	</bean>
	<bean id="orderSearchPopAction" class="com.oceanluxury.frontdesk.action.OrderSearchPopAction">
		<property name="reservationService" ref="reservationService"></property>
	</bean>
	<bean id="roomStatusAction" class="com.oceanluxury.frontdesk.action.RoomStatusAction">
		<property name="roomInfoService" ref="roomInfoService"></property>
	</bean>
	<bean id="roomStatusPopAction" class="com.oceanluxury.frontdesk.action.RoomStatusPopAction">
		<property name="roomInfoService" ref="roomInfoService"></property>
	</bean>
	<bean id="taskSearchAction" class="com.oceanluxury.frontdesk.action.TaskSearchAction">
		<property name="taskService" ref="taskService"></property>
	</bean>
	<bean id="taskPopAction" class="com.oceanluxury.frontdesk.action.TaskPopAction">
		<property name="itemService" ref="itemService"></property>
	</bean>
	<bean id="checkInOutAction" class="com.oceanluxury.frontdesk.action.CheckInOutAction">
		<property name="roomInfoService" ref="roomInfoService"></property>
		<property name="reservationService" ref="reservationService"></property>
	</bean>
	<bean id="specialServiceAction" class="com.oceanluxury.frontdesk.action.SpecialServiceAction">
		<property name="roomInfoService" ref="roomInfoService"></property>
	</bean>
	<bean id="specialServicePopAction" class="com.oceanluxury.frontdesk.action.SpecialServicePopAction">
		<property name="roomInfoService" ref="roomInfoService"></property>
		<property name="taskService" ref="taskService"></property>
	</bean>
	<bean id="maintenanceAction" class="com.oceanluxury.frontdesk.action.MaintenanceAction">
		<property name="roomInfoService" ref="roomInfoService"></property>
	</bean>
	<bean id="maintenancePopAction" class="com.oceanluxury.frontdesk.action.MaintenancePopAction">
		<property name="roomInfoService" ref="roomInfoService"></property>
		<property name="taskService" ref="taskService"></property>
	</bean>
	<bean id="kioskAction" class="com.oceanluxury.frontdesk.action.KioskAction">
		<property name="roomInfoService" ref="roomInfoService"></property>
		<property name="itemService" ref="itemService"></property>
		<property name="taskService" ref="taskService"></property>
	</bean>
	
	<!-- ========================== Customer =========================== -->
	<bean id="custLoginAction" class="com.oceanluxury.customer.action.CustLoginAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="custRegisterAction" class="com.oceanluxury.customer.action.CustRegisterAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="custAvailabilityAction" class="com.oceanluxury.customer.action.CustAvailabilityAction">
		<property name="reservationService" ref="reservationService"></property>
	</bean>
	<bean id="custCheckoutAction" class="com.oceanluxury.customer.action.CustCheckoutAction">
		<property name="reservationService" ref="reservationService"></property>
	</bean>
	<bean id="custPlaceOrderAction" class="com.oceanluxury.customer.action.CustPlaceOrderAction">
		<property name="reservationService" ref="reservationService"></property>
	</bean>
</beans>
